services:
  - postgresql
  - docker
matrix:
  include:
    - language: rust
      os: linux
      rust: nightly
      cache: cargo
      before_install:
        - cd atcoder-problems-backend/
      before_script:
        - psql -c "CREATE USER kenkoooo PASSWORD 'pass';" -U postgres
        - psql -c "CREATE DATABASE test OWNER kenkoooo;" -U postgres
      script:
        - cargo clean
        - cargo build
        - env RUST_TEST_THREADS=1 RUST_BACKTRACE=1 cargo test
      after_script:
        - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && echo "$DOCKER_PASSWORD" | docker login -u kenkoooo --password-stdin
        - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && docker pull kenkoooo/atcoder-problems-backend
        - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && docker build -t kenkoooo/atcoder-problems-backend .
        - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && docker push kenkoooo/atcoder-problems-backend

    - language: node_js
      node_js: node
      addons:
        apt:
          packages:
            - libgconf-2-4
      cache:
        npm: true
        directories:
          - ~/.cache
      before_script:
        - cd atcoder-problems-frontend/
      script:
        - npm install yarn -g
        - yarn
        - yarn build
        - yarn test
        - yarn lint
        - yarn prepare-ci
        - yarn start:ci &
        - yarn cypress:run
