// Color Variables

$difficulty-grey-color: #808080 !default;
$difficulty-brown-color: #804000 !default;
$difficulty-green-color: #008000 !default;
$difficulty-cyan-color: #00c0c0 !default;
$difficulty-blue-color: #0000ff !default;
$difficulty-yellow-color: #c0c000 !default;
$difficulty-orange-color: #ff8000 !default;
$difficulty-red-color: #ff0000 !default;

$success-bg-color: #c3e6cb !default;
$success-hover-bg-color: #b1dfbb !default;

$success-intime-bg-color: #9ad59e !default;
$success-intime-hover-bg-color: #88cc88 !default;

$success-before-contest-bg-color: #99ccff !default;
$success-before-contest-hover-bg-color: #88bbff !default;

$warning-bg-color: #ffeeba !default;
$warning-hover-bg-color: #ffe8a1 !default;

$warning-intime-bg-color: #ffdd99 !default;
$warning-intime-hover-bg-color: #f0cc99 !default;

$danger-bg-color: #f5c6cb !default;
$danger-hover-bg-color: #f1b0b7 !default;

$penalties-color: #ff0000 !default;

// Table Background Override Hatch

.table-success,
.table-success > th,
.table-success > td {
  background-color: $success-bg-color !important;
}

.table-hover .table-success:hover,
.table-hover .table-success:hover > th,
.table-hover .table-success:hover > td {
  background-color: $success-hover-bg-color !important;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: $warning-bg-color !important;
}

.table-hover .table-warning:hover,
.table-hover .table-warning:hover > th,
.table-hover .table-warning:hover > td {
  background-color: $warning-hover-bg-color !important;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: $danger-bg-color !important;
}

.table-hover .table-danger:hover,
.table-hover .table-danger:hover > th,
.table-hover .table-danger:hover > td {
  background-color: $danger-hover-bg-color !important;
}

// Style

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-menu {
  max-height: 256px;
  overflow-y: auto;
}

.tooltip {
  pointer-events: none;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .react-bs-table table td,
  .react-bs-table table th {
    white-space: unset;
    word-break: break-word;
  }
}

.difficulty-unavailable-circle.badge {
  margin-right: 5px;
  font-size: 5px;
}

span.difficulty-circle {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  height: 12px;
  width: 12px;
}

.difficulty-red {
  color: $difficulty-red-color;
}
.difficulty-orange {
  color: $difficulty-orange-color;
}
.difficulty-yellow {
  color: $difficulty-yellow-color;
}
.difficulty-blue {
  color: $difficulty-blue-color;
}
.difficulty-cyan {
  color: $difficulty-cyan-color;
}
.difficulty-green {
  color: $difficulty-green-color;
}
.difficulty-brown {
  color: $difficulty-brown-color;
}
.difficulty-grey {
  color: $difficulty-grey-color;
}

.table-problem {
  position: relative;
}

.table-success-intime,
.table-success-intime > td,
.table-success-intime > th,
.table-success-language,
.table-success-language > td,
.table-success-language > th {
  background-color: $success-intime-bg-color;
}

.table-warning-intime,
.table-warning-intime > td,
.table-warning-intime > th {
  background-color: $warning-intime-bg-color;
}

.table-success-before-contest,
.table-success-before-contest > td,
.table-success-before-contest > th {
  background-color: $success-before-contest-bg-color;
}

.table-hover .table-success-intime:hover,
.table-hover .table-success-intime:hover > td,
.table-hover .table-success-intime:hover > th,
.table-hover .table-success-language:hover,
.table-hover .table-success-language:hover > td,
.table-hover .table-success-language:hover > th {
  background-color: $success-intime-hover-bg-color;
}

.table-hover .table-warning-intime:hover,
.table-hover .table-warning-intime:hover > td,
.table-hover .table-warning-intime:hover > th {
  background-color: $warning-intime-hover-bg-color;
}

.table-hover .table-success-before-contest:hover,
.table-hover .table-success-before-contest:hover > td,
.table-hover .table-success-before-contest:hover > th {
  background-color: $success-before-contest-hover-bg-color;
}

.table-problem-timespan {
  position: absolute;
  right: 0.1rem;
  bottom: 0;
  color: #888888;
  font-size: x-small;
  .table-problem-timespan-penalty {
    color: $penalties-color;
    margin-left: 0.2rem;
  }
}

.list-table tbody tr td,
.list-table thead th {
  font-size: small;
  padding: 0.3rem;
  line-height: 1;
  white-space: normal;
}

@media only screen and (max-width: 480px) {
  .contest-table-responsive table,
  .contest-table-responsive thead,
  .contest-table-responsive tbody,
  .contest-table-responsive th,
  .contest-table-responsive td,
  .contest-table-responsive tr {
    display: block;
  }

  .contest-table-responsive td.table-problem-empty {
    display: none;
  }

  .contest-table-responsive thead tr {
    display: none;
  }

  .contest-table-responsive tr {
    border: 1px solid #ccc;
  }

  .contest-table-responsive td {
    position: relative;
    padding-left: 0.75rem;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .contest-table-responsive.contest-regular-table-responsive
    td:not(:first-child) {
    padding-left: 2.5rem;
  }

  div.btn-group.table-tab {
    display: block;
  }

  div.btn-group.table-tab > button.btn:not(:last-child):not(.dropdown-toggle),
  div.btn-group.table-tab > button.btn:not(:first-child) {
    border-radius: 0.25rem;
    margin-left: 0.1rem;
  }

  div.btn-group.table-tab > button.btn {
    margin: 0.1rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .list-table table,
  .list-table thead,
  .list-table tbody,
  .list-table th,
  .list-table td,
  .list-table tr {
    display: block;
  }

  .list-table thead tr {
    display: none;
  }

  .list-table tbody tr {
    border: 1px solid #ccc;
    margin-top: 0.5rem;
  }

  .list-table tbody tr td {
    position: relative;
    padding-left: 32%;
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: calc(1rem + 12px);
  }

  .list-table tbody td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 32%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
    content: attr(data-col-name);
  }

  .list-table td p {
    margin-bottom: 0;
  }

  .react-bs-table-bordered {
    border: none;
  }

  .react-bs-table .table-bordered > tbody > tr > td:first-child {
    border-left-width: 1px;
  }
}

$small-score-cell-border: $gray-300 !default;

.small-score-cell {
  width: 1rem;
  height: 1rem;
  display: inline-block;

  // Collapse border.
  border: 1px solid $small-score-cell-border;
  margin-left: -1px;
  margin-top: -1px;

  background-color: $gray-500;

  &.small-score-cell-success {
    background-color: $green;
  }

  &.small-score-cell-warning {
    background-color: $yellow;
  }
}

.small-score-cell-tooltip {
  padding: 0.5rem 1rem;

  > p {
    margin-bottom: 0;
  }
}

.pie-chart-summary text {
  fill: $gray-900;
  text-anchor: middle;
  font-size: unquote("min(1.3vw, 15px)");
}

.topcoder-like-circle {
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  width: 12px;
  height: 12px;
}

.topcoder-like-circle-big {
  border-width: 3px;
  width: 36px;
  height: 36px;
}

.rating-circle {
  display: inline-block;
}
