<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
  <Properties>
    <Property name="loglayout">
      %d{yyy/MM/dd HH:mm:ss.SSS} %-5level - [%class] %msg%n
    </Property>
  </Properties>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="${loglayout}"/>
    </Console>
    <RollingFile name="rolling" fileName="/var/log/atcoder/atcoder.log" filePattern="/var/log/atcoder/atcoder-%d{yyyy-MM-dd}-%i.gz">
      <PatternLayout pattern="${loglayout}"/>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="rolling"/>
    </Root>
  </Loggers>
</Configuration>