[package]
name = "atcoder-problems-backend"
version = "0.1.0"
authors = ["kenkoooo <kenkou.n@gmail.com>"]
edition = "2021"
publish = false

[dependencies]
# Logging
log = "0.4"
fern = "0.6.0"

rand = "0.7.3"
chrono = "0.4"
regex = "1"
rust-s3 = { version = "0.27.0-rc4", features = ["no-verify-ssl"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# SQL
sql-client = { path = "./sql-client" }

# Scraping
atcoder-client = { path = "./atcoder-client" }

# Web framework
actix-web = "4.0.1"
actix-service = "2.0.2"
reqwest = { version = "0.11", features = ["json"] }

async-trait = "0.1"

anyhow = "1.0"
futures-util = "0.3.21"

[dev-dependencies]
httpmock = "0.6.6"

[workspace]
members = ["sql-client", "atcoder-client"]
