body {
  margin: 0;
  padding: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-width: 1024px){
  .react-bs-table table td,
  .react-bs-table table th {
    white-space: unset;
    word-break: break-word;
  }
}

span.difficulty-circle {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  height: 12px;
  width: 12px;
}

.difficulty-red {
  color: #FF0000;
}
.difficulty-orange {
  color: #FF8000;
}
.difficulty-yellow {
  color: #C0C000;
}
.difficulty-blue {
  color: #0000FF;
}
.difficulty-cyan {
  color: #00C0C0;
}
.difficulty-green {
  color: #008000;
}
.difficulty-brown {
  color: #804000;
}
.difficulty-grey {
  color: #808080;
}

